<!DOCTYPE html>
<html>
<body>

<form action="/upload" method="post" enctype="multipart/form-data">
    Selecione a imagem :)<br>
    <input type="text" name="name" id="name"><br>
    <input type="file" name="myImage" id="myImage"><br>
    <input type="submit" value="Upload Image" name="submit">
</form>

</body>
</html>
