<%- include header.ejs %>
<body>
  <div class="medium-12">
    <div class="row">
      <div class="row" style="margin-left: 5px; margin-top: 20px;">
          <!-- <h4>Autenticação</h4> -->
      </div>
      <p>Registro excluido com sucesso</p>
      <button onclick="location.href='/?user_id=<%=user_id%>'" class=button type="button" name="button">Início</button>
    </div>
  </div><br><Br>
</body>
<%- include footer.ejs %>
