<%- include ../header.ejs %>
<body>
  <div class="medium-12">
    <div class="row">
      <div class="row" style="margin-left: 5px; margin-top: 20px;">
          <h4>Autenticação</h4>
      </div>
      <p>Usuário identificado com sucesso</p>
      <a class=button href='/?user_id=<%=user_id%>'>Ok</a>
    </div>
  </div><br><Br>
</body>
<%- include ../footer.ejs %>
