<%- include header.ejs %>

<section class="h-100">
  <header class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="d-flex flex-column">
        <br><BR><br><BR>
        <h1 class="text align-self-center p-2" style="font-size:35px;">Registro excluido com sucesso</h1>
        <br><BR><br><BR>
        <button onclick="location.href='/'" style="font-size:25px;" _class="btn btn-default align-self-center p-2" type="button" name="button">Início</button>
        <br><BR>
        <br><BR>
        <br><BR>
      </div>
    </div>
  </header>
</section>

<%- include footer.ejs %>
