<%- include header.ejs %>

<section class="h-100">
  <header class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="d-flex flex-column">
        <br><BR><br><BR>
        <pre>
        Estrada das Canoas, 3046 – São Conrado – Rio de janeiro

        Telefones de contato:
        Marcos Peçanha – 21-99825-1807 (Whatsapp)
        Luiz Manni – 21 -99859-8242
        Marco Batista – 21 – 99703-2306
        </pre>
        <br><BR>
        <br><BR>
        <br><BR>
      </div>
    </div>
  </header>
</section>

<%- include footer.ejs %>
