<%- include header.ejs %>
<main role="main" class="container">
    <div class="row">
      <div class="large-12 columns" >
        <h4>Entre em contato</h4>
        <% include ../../contact.htm %>
      </div>


    <%if (logged) {%>
      <button class=button onclick="location.href='/file_edit?user_id=<%=user_id%>&title=Drive&file=contact'">Editar</button>
    <%}%>
    </div>
</main><br><Br>


<%- include footer.ejs %>
