<%- include header.ejs %>

<section class="h-100">
  <header class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="d-flex flex-column">
        <br><BR><br><BR>
        <a href=https://onedrive.live.com/?authkey=%21AEs5lv8VJTtls6I&id=A4950E764A83E74D%21130&cid=A4950E764A83E74D>
          Clique aqui para entrar no Drive virtual do Céu do Mar
        </a>
        <br><BR>
        <br><BR>
        <br><BR>
      </div>
    </div>
  </header>
</section>

<%- include footer.ejs %>
