<%- include header.ejs %>

<div class="row">
  <div class="large-12 columns">
    <br><BR>
    <P>Arquivos , Hinários, Orações – acesse o link do drive virtual <BR><BR>
    <iframe src="https://onedrive.live.com/embed?cid=A4950E764A83E74D&amp;resid=A4950E764A83E74D%21130&amp;authkey=AEs5lv8VJTtls6I" width="165" height="128" frameborder="0" scrolling="no"></iframe>
    <!-- <a href=https://onedrive.live.com/?authkey=%21AEs5lv8VJTtls6I&id=A4950E764A83E74D%21130&cid=A4950E764A83E74D>
      Clique aqui para entrar no Drive virtual do Céu do Mar
    </a> -->
    <br><BR>
    
  </div>
</div>



<%- include footer.ejs %>
