
<footer class="blog-footer">
  <p>Estrada das Canoas 3046 – São conrado – Rio de Janeiro – RJ</p>
  <p>Desenvolvido pela Magaweb / Designer:<a href="https://twitter.com/mdo">@mdo</a></p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
</body>
</html>
