<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Céu do mar</title>
  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
  <link href="https://fonts.googleapis.com/css?family=Tenor+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
</head>
<body>

<style>
  /*icon styles*/
  .fi-social-facebook {
    color: dodgerblue;
    font-size: 2rem;
  }
  .fi-social-youtube {
    color: red;
    font-size: 2rem;
  }
  .fi-social-pinterest {
    color: darkred;
    font-size: 2rem;
  }
  i.fi-social-instagram {
    color: brown;
    font-size: 2rem;
  }
  i.fi-social-tumblr {
    color: navy;
    font-size: 2rem;
  }
  .fi-social-twitter {
    color: skyblue;
    font-size: 2rem;
  }

</style>
<header>




<div class="row">
<div class="medium-12 columns">
<!-- <img src="https://placehold.it/450x183&text=LOGO" alt="company logo"> -->
<a  href="#" style="margin-left: -10px; font-family: 'Tenor Sans', sans-serif; font-style: italic; font-size:50px; color: darkblue">Céu do Mar</a>
<span style="margin-left: 25px; font-family: 'Karla', sans-serif; font-size:20px;  font-style: italic; color: #3A2F0B">Igreja do Santo Daime</span>
</div>
<!-- <div class="medium-8 columns">
<img src="https://placehold.it/900x175&text=Responsive Ads - ZURB Playground/333" alt="advertisement for deep fried Twinkies">
</div> -->
</div>


<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
<button class="menu-icon" type="button" data-toggle></button>
<div class="title-bar-title">Menu</div>
</div>

<div class="top-bar " id="main-menu" >
  <div class="top-bar-left">
  <%
  if (typeof user_id === 'undefined') user_id=0
  %>
<ul class="menu vertical medium-horizontal expanded medium-text-center" data-responsive-menu="drilldown medium-dropdown">
  <li ><a href="/?user_id=<%=user_id%>">Home</a>

  </li>
  <li ><a  href="/drive?user_id=<%=user_id%>">Drive virtual</a>

  </li>
  <li><a  href="/contact?user_id=<%=user_id%>">Contato</a>


  </li>

</ul>
</div>
</div>
</header>
