<%- include header.ejs %>
<style>
  .container_out{
    display: flex;
    flex-wrap: wrap;}
</style>
<div class="callout_ large primary" style="margin-bottom: 40px; border-top:7px solid #ECECEC; border-bottom:7px solid #ECECEC;">
  <div _class="row column text-center">
    <div class="container_" >
      <%-help.call_img(content.text.call_byId('topo').img, content.text.call_byId('topo').img_fit)%>
      <%if (logged) {%>
        <button class=button onclick="location.href='/text/edit?user_id=<%=user_id%>&title=Topo&id=topo'">Editar</button>
      <%}%>
      <!-- <button class="btn">Button</button> -->
    </div>
    <!-- <img style="width:100%" src="/uploads/pedra2.jpg" > -->

  </div>
</div>
<div class="row" id="content" >
  <div class="medium-9 columns">
    <div class="container_out">
      <%-include(
        'calendar/list.ejs',
        {card_width: '265px',
         card_margin: '15px'})%>
    </div>
    <br>
  </div>
  <div class="medium-3 columns" data-sticky-container>
    <div class="sticky" >
        <% include sidebar %>
    </div>
  </div>
</div>
<% include footer %>
