<%- include header.ejs %>
<body>
    <div class="form-group row">
      <div class="col-12 text-center">
        <h2>Autenticação</h2>
        <p>Usuário identificado com sucesso</p>
        <a href='/?user_id=<%=user_id%>'>Ok</a>
      </div>
    </div>

</body>
<%- include footer.ejs %>
