<%- include header.ejs %>
<body>
  <div class="medium-12">
    <div class="row">
      <div class="row" style="margin-left: 5px; margin-top: 20px;">
          <h4>Autenticação</h4>
      </div>
      <p>Edição finalizada com sucesso </p>
      <a href='/' class=button>Ok</a>
    </div>
  </div><br><Br>
</body>
<%- include footer.ejs %>
